@import url('https://fonts.googleapis.com/css?family=Lora:400,700|Open+Sans:300,400,600,700,800');

/* Reset CSS */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Custom Styles */
body{
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-weight: 400;
	letter-spacing: 0px;
	color: #151515;
	-webkit-text-size-adjust: 100%;
	font-size: 14px;
	line-height: 1.5em;
}
#wrapper{
	width: 100%;
	margin: 0 auto;
	text-align: center;
}
#page-header{
	background: url(images/header-bg.jpeg) #000 no-repeat center 5px / cover;
}
#page-header img{
	max-width: 100%;
	padding: 12px 0;
}
#menu-container{
	background-color: #e5e5e5;
	border-bottom: 1px solid #000;
}
.navbar{
	margin: 0;
	background-color: #e5e5e5;
	border-bottom: 1px solid #000;
	box-shadow: none;
	background-image: none;
}
.navbar-nav{
	float: none;
	margin: 0 auto;
	text-align: center;
}
.navbar-nav > li{
	display: inline-block;
	vertical-align: top;
	float: none;
	text-align: center;
	padding: 0 22.5px;
}
.navbar-nav > li > a{
	border-top: 3px solid transparent;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 2px;
	display: block;
	box-sizing: content-box;
	color: #000;
	padding: 0;
	line-height: 40px
}
.navbar-default .navbar-nav > li > a{
	color: #000;
}
.navbar-nav li a:hover{
	color: #4188ba !important;
	border-color: #4188ba;
	text-decoration: none;
}
nav.sticky{
	display: none;
	position: fixed;
	width: 100%;
	z-index: 99999;
}
#page-content{
	width: 100%;
	float: left;
	background-image: url(images/body-bg.jpg);
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    padding-top: 0px;
    padding-bottom: 20px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
	background-color: #fff;
    clear: both;
	margin-bottom: 90px;
}
#content{
	padding-top: 40px;
	text-align: left;
	width: 100%;
	float: left;
}
#slider{
	width: 100%;
	height: auto;
	float: left;
	background: url(images/slider_1.jpeg) no-repeat center center / cover;
	height: 600px;
}
.footer-parallax{
    z-index: -99;
    position: fixed;
    bottom: -18px;
    left: 0;
    right: 0;
}
footer{
	background-color: #000000;
    border-color: #4b4c4d;
    border-top-width: 1px;
    padding-bottom: 16px;
	text-align: center;
}
.copyright{
	color: #ffffff;
    font-size: 12px;
	display: block;
    width: 100%;
    text-align: center;
	float: left;
	clear: both;
	padding-top: 18px;
}
.copyright a{
	color: #FFF;
	text-decoration: none;
}
.footer-social{
	font-size: 16px;
	padding: 15px 0;
	color: #FFF;
	clear: both;
    float: left;
    width: 100%;
}
.footer-social a{
	padding: 0 10px;
	color: #FFF;
}

/* Elements */
a{
	color: #4188ba;
}
h1, h2, h3{
	font-family: Lora, Georgia, serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 2px;
    color: #4188ba;
    text-align: left;
}
h2{
	margin-top: 0.67em;
    margin-bottom: 0.67em;
	margin-bottom: 20px;
	font-size: 28px;
	line-height: 40px;
}
p{
	font-size: 14px;
	line-height: 21px;
	margin-bottom: 20px;
}
img{
	max-width: 100%;
}
strong{
	font-weight: 700 !important;
}
.fusion-title {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-align-items: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 0 31px;
}
.fusion-title .title-sep-container {
    position: relative;
    height: 6px;
    -ms-flex-grow: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.fusion-title .title-sep.sep-single {
    border-bottom-width: 1px;
}
.fusion-title .title-sep, .fusion-title.sep-underline, .product .product-border {
    border-color: #3e3e3e;
}

.fusion-title .title-sep {
    position: relative;
    width: 100%;
    border: 0 solid #000;
    box-sizing: content-box;
}
.fusion-border-below-title, .fusion-title .title-sep, .fusion-title.fusion-sep-none {
    display: block;
}
.table-1 table, .table-1 th, tr td, .table-1 tr td{
	border-color: #3e3e3e;
	border: 1px solid;
}
.table-1 table th, .tkt-slctr-tbl-wrap-dv table th {
    background: #f6f6f6;
    padding: 20px;
    text-align: left;
}
table th{
	font-family: Lora, Georgia, serif;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 1px;
}
.table-1 tr td {
    padding: 10px 20px;
}
.table-1 tr:nth-child(2n), .tkt-slctr-tbl-wrap-dv tr:nth-child(2n) {
    background: #f6f6f6;
}
.fusion-desktop-button {
    display: block;
}
.reading-box{
	padding: 28px 28px 27px 31px;
}
.button-default{
	background: #565656;
	color: #ffffff;
}
.continue-right {
    float: right;
    margin-left: 10px;
    margin-bottom: 10px;
}
.button-large, .button.large, .fusion-body .fusion-button-large {
    padding: 13px 29px;
    line-height: 17px;
    font-size: 14px;
}
@media screen and (max-width: 768px){
	.navbar-nav > li{
		padding: 0 13px;
	}
}

@media screen and (max-width: 767px){
	.navbar{
		background: #000;
		border: none;
		border-radius: 0px;
	}
	.navbar-toggle{
		float: none;
		border: none;
	}
	.navbar-default .navbar-toggle .icon-bar{
		background: #FFF;
	}
	.navbar-collapse{
		padding: 0px;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form{
		border: none;
	}
	.navbar-nav > li{
		display: block;
		text-align: left;
		border-bottom: 1px solid #212122;
		padding: 0px;
	}
	.navbar-default .navbar-nav > li > a{
		color: #d6d6d6;
		font-size: 12px;
		height: 35px;
		line-height: 35px;
		padding-left: 30px;
		padding-right: 30px;
		border: none;
	}
	.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover{
		background-color: #383737;
		color: #d6d6d6 !important;
	}
	
}